.my-padding-top-56 {
    padding-top: 56px;
}

.test, .test * {
    border: 2px dashed red;
    background-color: rgba(255, 0, 0, .5);
}

.my-container-small {
    max-width: 600px;
    margin: auto;
}